/* LEFTBAR - LAYOUT */
.modal .left-bar {
    animation: slideToRigth 700ms forwards;

    background: var(--color-black);
    
    display: grid;
    grid-template-rows: auto auto       
     1fr 1fr auto;
    grid-template-columns: auto ;
    grid-template-areas: 
    'leftbar-top'
    'leftbar-header'
    'leftbar-main'
    'leftbar-bottom'
    'leftbar-footer';

    height: 100vh;
    width: clamp(45vw, 2vw + 2vw , 50vw);
    z-index: inherit;
}
 
.left-bar :where(.top, .header, .main, .bottom, .footer) {
    background: var(--color-dark);
    border-radius: 5px;
    box-shadow: 0 1px 2px var(--color-gray);
    transition: 0.3s;

    display: flex;
    flex-wrap: nowrap;
    
    margin: clamp(0.10625rem, 0.003125rem + 2vw, 0.15625rem) clamp(0.2625rem, 0.00625rem + 2vw, 0.3125rem);
    padding: 5px;
}

.left-bar .top {
    justify-content: space-around;
    align-items: center;
    grid-area: leftbar-top;
}

.left-bar .header {
    grid-area: leftbar-header;
}

.left-bar .main {
    grid-area: leftbar-main;
}

.left-bar .bottom {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    grid-area: leftbar-bottom;
}

.left-bar .footer {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    grid-area: leftbar-footer;

}

/*? LEFTBAR - TEXT */
.modal .left-bar .logo {
    color: var(--color-logo);
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, .5rem + 2vw, 2.25rem);
    text-decoration: none;
}

.left-bar :where(.footer>a, .bottom>a) {
    color: var(--color-light);
    
    font-size: clamp(1rem, .5rem + 2vw , 1.25rem);
    font-family: var(--font-primary);
    text-decoration: none;
    
    padding: 10px;

}

/*? LEFTBAR - ICON */
.modal .left-bar .icon {
    color: var(--color-light);
    cursor: pointer;
    transition: color .3s ease-in;

    font-size: clamp(1.5rem, .5rem + 2vw, 1.75rem);

    margin: clamp(0.125rem, .5rem + 2vw, 0.625rem);
}

/*! LEFTBAR - ANIMATION */
@keyframes slideToRigth{
    0%{
        transform: translateX(-50%);
    }
  
    100% {
        transform: translateX(0%);
    }

}

/*! LEFTBAR - HOVER */
.left-bar .icon:hover {
    color: var(--color-primary);
}

.left-bar :where(.footer>a:hover, .bottom>a:hover) {
    background: var(--color-primary);
    opacity: .7;

}
