/* FAB - LAYOUT */
.fab {
    position: fixed;
    bottom: clamp(10vh, .5vh + 2vw , 10vh);
    right: clamp(10vw, .5vw + 2vw , 10vw);
}
.fab button {
    background: var(--color-primary);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    
    font-size: clamp(1rem, .5rem + 2vw , 1.5rem);

    width: clamp(2.5rem, .5rem + 2vw, 3rem);
    height:  clamp(2.5rem, .5rem + 2vw, 3rem);
}