/* FOOTER - LAYOUT */
footer.footer{
    background-color: var(--color-dark);
    box-shadow: 0 0 2px 1px var(--color-gray);    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    
    padding: 5px 0;
    height: auto;
    width: 100vw;
}

/*? FOOTER - TEXT */
footer.footer .footer-item {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}

footer.footer .footer-item>p {
    color: var(--color-light);
    font-size: clamp(0.5rem, 0.5rem + 2vw, 1rem);
    font-family: var(--font-primary);

    display: none;
}

/*? FOOTER - ICON */
footer.footer .footer-item>i {
    color: var(--color-light);
    font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
}

/*! FOOTER - ACTIVE */
footer.footer .footer-item.active>i, footer.footer .footer-item.active>p {
    color: var(--color-white);
    display: flex;
}

/*! FOOTER - ANIMATION */

footer.footer .footer-item.active{
    transition: 300ms ease-in-out;
    transform: scale(1.1);
}