@import './variables.scss';

.input {
    background: transparent;
    border: 2px solid $colorDarkPrimary;
    border-radius: 10px;
    box-shadow: 0 4px 2px $colorBlack;
        -webkit-box-shadow: 0 4px 2px $colorBlack;
        -moz-box-shadow: 0 4px 2px $colorBlack;
        -ms-box-shadow: 0 4px 2px $colorBlack;
        -o-box-shadow: 0 4px 2px $colorBlack;
    color: $colorDarkPrimary;

    @include font-size(.875rem);
    font-family: $fontPrimary;

    padding: 10px;
    height: auto;
    width: auto;
}

.button {
    border: 2px solid $colorBlack;
    border-radius: 10px;
    box-shadow: 0 4px 2px $colorBlack;
        -webkit-box-shadow: 0 0 10px $colorBlack;
        -moz-box-shadow: 0 0 10px $colorBlack;
        -ms-box-shadow: 0 0 10px $colorBlack;
        -o-box-shadow: 0 0 10px $colorBlack;
    cursor: pointer;

    @include font-size(.875rem);
    font-family: $fontPrimary;
    font-weight: bold;

    padding: 10px;
    height: auto;
    width: auto;

    &.button-primary {
        @include button-style($colorPrimary, $colorDarkPrimary);    
    }

    &.button-secondary {
        @include button-style($colorSecondary, $colorDarkPrimary);
    }
}