@import './variables.scss';

.logo {
    color: $colorWhite;

    @include font-size(2rem);
    font-family: $fontLogo;
    text-decoration: none;

    .logo-divider {
        color: $colorPrimary;
    }
}

.icon {
    color: $colorWhite;
    cursor: pointer;

    @include font-size(1.5rem);

    &.icon-maximed {
        background: $colorWhite;
        color: $colorDarkPrimary;
        border-radius: 10px;
        
        @include font-size(5rem);
    }
}

.title {
    @include font-size(2rem);
    font-family: $fontPrimary;

    &.title-white {
        color: $colorWhite;
    }

    &.title-primary {
        color: $colorPrimary;
    }

    &.title-secondary {
        color: $colorSecondary;
    }
}

.text {
    @include font-size(.875rem);
    font-family: $fontPrimary;

    &.text-white {
        color: $colorWhite;
    }

    &.text-danger {
        color: $colorDanger;
    }
}

.alt {
    color: $colorGray;

    @include font-size(.875rem);
    font-family: $fontPrimary;
}