@import './variables.scss';

header.header {
    background: $colorDarkPrimary;
    box-shadow: -1px 8px 23px -1px rgba(0, 0, 0, .75);
        -webkit-box-shadow: -1px 8px 23px -1px rgba(0, 0, 0, .75);
        -moz-box-shadow: -1px 8px 23px -1px rgba(0, 0, 0, .75);

    @include display-flex(row, space-between, center);    

    position: absolute;

    height: auto;
    width: 100vw;
    z-index: 1;
}