@import './components.scss';
@import './fonts.scss';
@import './nav.scss';
@import './bottom.scss';

* {
    box-shadow: border-box;

    margin: 0;
    padding: 0;
}

body {
    background: $colorDarkPrimary;
}

html {
    height: 100vh;
    width: 100vw;
}

.container {
    @include display-flex(column, center, center);

    position: relative;

    height: 100%;
    width: 100vw;
}

.modal {
    background: rgba(0, 0, 0, .7);

    @include display-flex(column, center, center);

    position: fixed;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;
    z-index: 999;
}

.card {
    background: rgba(14, 42, 86, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    box-shadow: -1px 5px 10px -1px rgba(0, 0, 0, .75);
        -webkit-box-shadow: -1px 5px 10px -1px rgba(0, 0, 0, .75);
        -moz-box-shadow: -1px 5px 10px -1px rgba(0, 0, 0, .75);    
        -ms-box-shadow: -1px 5px 10px -1px rgba(0, 0, 0, .75);  
        -o-box-shadow: -1px 5px 10px -1px rgba(0, 0, 0, .75);  
    backdrop-filter: blur(10px) saturate(50%);    
        -webkit-backdrop-filter: blur(10px) saturate(50%);    
        -moz-backdrop-filter: blur(10px) saturate(50%);    
        -ms-backdrop-filter: blur(10px) saturate(50%);    
        -o-backdrop-filter: blur(10px) saturate(50%);    
    color: $colorWhite;
    

    @include display-flex(column, center, center);

    padding: 10px;
    height: auto;
    width: auto;
}

.popup {
    background: $colorWhite;
    border-radius: 5px;
    box-shadow: 0 0 10px $colorBlack;
        -webkit-box-shadow: 0 0 10px $colorBlack;
        -moz-box-shadow: 0 0 10px $colorBlack;
        -ms-box-shadow: 0 0 10px $colorBlack;
        -o-box-shadow: 0 0 10px $colorBlack;
    padding: 20px;
}

.checkbox-container {
    @include display-flex(row, stretch, center);
}