@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins:ital,wght@1,900&display=swap');

@mixin display-flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: nowrap;
    align-items: $align;
    justify-content: $justify;
}

@mixin button-style($background, $color) {
    background: $background;
    color: $color;
    &:hover {
        background: darken($background, 10%);
    }
}

@mixin check-style($background, $border) {
    border: 2px solid $border;
    &:checked {
        background-image: url('https://img.icons8.com/color/48/tick-tick.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@mixin font-size($min-size) {
    font-size: clamp($min-size, .5vw + 2vw, $min-size + .25rem);
}

@mixin width-size($min-size) {
    width: clamp($min-size, .5vw + 2vw, $min-size + .25rem);
}

$colorPrimary: #469CF7;
$colorSecondary: #E7C213;
$colorDanger: #E05135;
$colorDarkPrimary: #0E2A56;
$colorBlack: #26292E;
$colorGray: #5f5d5d;
$colorWhite: #EFEDE0;
$fontPrimary: 'Comfortaa', cursive;
$fontLogo: 'Poppins', sans-serif;